.inputWrapper {
  position: relative;
  text-align: center;
}

.inputFile {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.inputFileIconWrapper {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #FFFFFF;
}

.inputFileButton {
  width: 230px;
  max-width: 290px;
  height: 50px;
  background: linear-gradient(116deg, #007F5F, #80B918);
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
}

