.customIcon {
  font-size: 32px !important;
}

.ant-card-head {
  display: none;
}

.inputWrapper {
  position: relative;
  text-align: center;
}

.inputFile {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.inputFileIconWrapper {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #FFFFFF;
}

.inputFileButton {
  width: 415px;
  height: 50px;
  background: linear-gradient(116deg, #007F5F, #80B918);
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

input[type="file"] {
  display: none;
}

.showFileButton {
  width: 415px;
  height: 50px;
  background: linear-gradient(116deg, #007F5F, #80B918);
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
}

.inputFileButtonTextWrapper {
  display: flex;
  align-items: center; /* Выравнивание текста по вертикали по центру */
}

.checkbox-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out; /* Анимация изменения высоты */
}

.checkbox-container.open {
  max-height: 200px; /* Высота, до которой раскрывается контейнер */
}

input:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}
