.upperWrapper {
  margin-left: 200px;
}

.innerPartsContainer {
  display: flex;
}

.textAndBtnContainer {
  position: relative;
  width: 50%;
  margin-top: 25px;
  margin-left: 25px;
}

.tourName {
  font-family: 'ExcentraPro-Bold', sans-serif;
  font-size: 48px;
}

.tourPrice, .tourDates, .tourCountry {
  font-size: medium;
}

.originalPrice {
    color: black;
}

.discountedPrice {
    text-decoration: line-through;
    color: red;
}

.carouselFromAnt {
  margin: 0 40px;
  width: 1400px;
}

.carouselContainer {
  display: flex;
  justify-content: center;
}

.imageContainer {
  display: flex;
  height: 400px;
  overflow: hidden;
  margin-left: 20px;
  z-index: 5;
  border-radius: 25px;
  width: 700px;
}

.cardContainer {
  width: 1000px;
  height: 400px;
  border-radius: 25px;
}

.imageItem {
  object-fit: cover;
  z-index: 3;
}

.originalPrice, .discountedPrice, .tourPrice {
  font-size: 36px;
}

.tourPrice {
  margin-top: 100px;
}

.tourPriceDateAndButton {
  position: absolute;
  bottom: 40px;
  left: 5px;
}

.subscriptionContainer {
  background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный белый цвет */
  backdrop-filter: blur(10px); /* Эффект размытия фона */
  -webkit-backdrop-filter: blur(10px); /* Для поддержки в Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для эффекта стекла */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная нижняя граница */
}