.innerPartsContainer {
    display: flex;
}

.tourName {
    font-weight: 700;
    font-size: x-large;
}

.tourPrice,
.tourDates,
.tourCountry {
    font-size: medium;
}

.originalPrice {
    color: black;
}

.discountedPrice {
    text-decoration: line-through;
    color: red;
}

.carouselFromAnt {
    margin: 0 40px;
    width: 1400px;
}

.carouselContainer {
    display: flex;
    justify-content: center;
}

.imageContainer {
    width: 600px; /* Ширина изображения */
    height: 350px; /* Высота изображения */
    overflow: hidden; /* Обрезать изображение, если оно превышает размер контейнера */
    margin-left: 20px; /* Пространство между текстом и изображением */
}

.tourImage {
    width: 100%; /* Сделать изображение полностью заполняющим контейнер */
    height: auto; /* Автоматически подстраивать высоту */
    object-fit: cover; /* Заполнение изображения в контейнере без искажений */
}
