.homeContainer {
    background: linear-gradient(116deg, #F2E8CF, #6A994E); /* Градиент */
}

.backgroundContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
  
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainHeading {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
}

.discountsHeading {
    font-size: 40px;
    font-weight: 500;
    color: rgb(253, 144, 10);
    padding-left: 180px;
}

.newToursHeading {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
}