.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #243100;
  background-image: url(/src/assets/images/leaves-texture-footer.jpg);
  /* background-position: center; */
  padding: 20px 0; /* Добавьте отступы по вашему усмотрению */
  width: 100%;
  margin-top: auto; /* Это заставит футер переместиться вниз */
  font-family: 'ExcentraPro-Bold', sans-serif;
}

.logo {
  width: 70px;
  height: 70px;
}

.socialList {
  display: flex;
  gap: 7px;
  list-style: none; /* Удалить маркеры списка */
  padding: 0; /* Удалить отступы */
  margin-bottom: 10px;
}

.socialIcon {
  width: 35px;
  height: 35px;
}

.telegram {
  width: 30px;
  height: 30px;
}

.quote {
  text-transform: uppercase;
  font-size: 25px;
}

.quote, .lowerPart {
  color: rgb(253, 144, 10);
}
