.filtersContainer {
    padding-left: 50px;
    margin-bottom: 50px;
    width: 20%;
    border-right: 1px solid #f0f0f0;
}

.filtersHeading {
    font-weight: 700;
}

.filterName {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.activitiesFilter {
    display: flex;
    flex-direction: column;
}

.checkbox {
    margin-bottom: 8px; /* Отступ между чекбоксами Activities */
}

/* Вертикальные стили для чекбоксов с опцией свернуть */

.housingsFilter .checkboxContainer {
    display: flex;
    flex-direction: column;
  }
  
.housingsFilter .checkbox {
    margin-bottom: 5px;
}


  
