.filtersContainer {
    margin-left: 50px;
}

.filtersHeading {
    font-weight: 700;
}

.filterName {
    margin-top: 20px;
    margin-bottom: 10px;
}

.activitiesFilter {
    display: flex;
    flex-direction: column;
}

.checkbox {
    margin-bottom: 8px; /* Отступ между чекбоксами Activities */
}

/* Вертикальные стили для чекбоксов с опцией свернуть */

.housingsFilter .checkboxContainer {
    display: flex;
    flex-direction: column;
  }
  
  .housingsFilter .checkbox {
    margin-bottom: 5px;
  }
  
