.cardsContainer {
  display: flex;
  padding: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
  /* background: linear-gradient(116deg, #FCFAFB, #C8D3D6); */
  width: 80%;
}

.MiniCardForCatalog {
  height: 400px;
}